version: "3.9"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama-server
    ports:
      - "11434:11434"          
    volumes:
      - ./ollama_data:/root/.ollama  
    shm_size: "2g"              
    restart: unless-stopped
